@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #ede2e2;
  font-family: 'Roboto', 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
img,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}
